# Backend
backend/target/
backend/.mvn/
backend/*.jar
!backend/.mvn/
!backend/.mvn/wrapper/
!backend/.mvn/wrapper/maven-wrapper.properties

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.idea/
*.iml
.vscode/
*.class

# Secrets
*.env
!*.env.example
