# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ironfit_db
DB_USERNAME=root
DB_PASSWORD=YOUR_MYSQL_PASSWORD_HERE

# JWT
JWT_SECRET=IronFitGymManagementPlatformSuperSecretJWTKey2026RoorkeeUttarakhand247667SecuredKey!

# Server
PORT=8080
